body, html{
  background-color: whitesmoke;
  margin:0;
  padding:0;
}
    img,
picture,
video,
embed {
max-width: 100%;
}
.progress{
 width: 500px;
 background-color: white;
 position: relative;
 left: 40px;
 border-radius: 10px;
}
.progress-bar{
    background-color: blueviolet;
    border-radius: 10px;
}
.progresso{
    color: blueviolet;
    position: relative;
    left: 40px;
}
.introducao{
    color: blueviolet;
    position: relative;
    left: 100px;
}
.missao{
    color: blueviolet;
    font-size: medium;
    position: relative;
    left: 90px;
    top: -10px;
}
.missao2{
    color: blueviolet;
    font-size: small;
    position: relative;
    left: 30px;
}
.etapas{
    color: blueviolet;
    font-size: medium;
    position: relative;
    left: 10px;
    top: 10px;
    padding: 20px;
}
li{
    padding: 4px;
    list-style: square;
}
.btpdf{
    width: 240px;
    height: 50px;
    background-color: purple;
    border-radius: 10px;
    color: white;

}
.bloco2{
    /*definimos a largura do box*/
width:280px;
/* definimos a altura do box */
height:110px;
/* definimos a cor de fundo do box */
background-color:white;
/* definimos o quão arredondado irá ficar nosso box */
border-radius: 10px;
position: fixed;
left: 1100px;
top:120px;
}
.bloco1{
width:1400px;
height:150px;
border-radius: 10px;
position: fixed;
top:70px ;
left:70px ;
padding: 10px;

}
.bloco3{
       /*definimos a largura do box*/
width:280px;
/* definimos a altura do box */
height:400px;
/* definimos a cor de fundo do box */
background-color:white;
/* definimos o quão arredondado irá ficar nosso box */
border-radius: 10px;
position: fixed;
left: 1100px;
top:250px;
}
.controls{
    position: fixed;
    top: 250px;
    left: 120px;
    border: 5px solid blueviolet;
}
.sideboard{
    width: 80px;
  height: 900px;
  background: white;
  border: 2px solid white;
  position: fixed; 
  top: auto;
  right: auto;
  color: white;
  padding: 10px;
}
.btn{
    margin: 5px;
   padding: 5px;
   border-radius: 60%;
   width: 60px;
   height: 60px;
}
.dropdown{
    position: absolute;
    left: 1310px;
    top: 10px;
}
.fire{
    background-color: blueviolet;
    border-radius: 60%;
    position: relative;
    left: 30px;
    top: 20px;
}
.c{
    background-color: blueviolet;
    border-radius: 60%;
    position: relative;
    left: 40px;
    top: 40px;
}
.imgbase{
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    top: 150px;
    left: 10px;
}
.imgbase2{
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    top: 170px;
    right: -10px;
}
.imgbase3{
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    top: 190;
    right: -10px;
}
.imgbase4{
    background-color: blueviolet;
    border-radius: 50%;
    position: relative;
    top: -100px;
    right: -10px;
    
}
.bell{
    position: fixed;
    left: 1250px;
    top: 40px;
}
.cog{
    position: fixed;
    left: 1280px;
    top: 40px;
}
.coins{
    position: fixed;
    left: 1220px;
    top: 40px;
}